*~
*.o
*.aux
*.bbl
*.blg
*.dvi
*.toc
*.dat
doc

*
!/**/
!*.*

/doc
/mystuff
/.vscode

/**/build
/**/release
/**/debug

/**/*.log
/**/*.nav
/**/*.bbl
/**/*.blg
/**/*.aux
/**/*.out
/**/*.pdf
/**/*.snm
/**/*.toc
/**/*.vrb
/**/*.fdb_latexmk
/**/*.fls
/**/*Session.vim
